body{
    background: url('../img/poisson.jpg');
    background-size: cover;
    color: white;
}
.container{
    text-align: center;
    margin-bottom: 50px;
}
.container-fluid{
    background: rgba(0,0,0,0.8);
}
footer{
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 20px;
}
h1{
    font-size: 5em;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.description{
    font-size: 1.5em;
}
#meteo{
    padding: 20px;
}
#town{
    font-size: 3em;
}
#date{
    font-size: 2em; 
}
#temp{
    font-size: 5em;
}
#channel{
    background: radial-gradient( rgba(255,255,255,0), rgba(255,255,255,1))
}
#channel {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;

}
.icon{
    width: 100px;
}
.player{
    text-align: center;
    margin-top: 50px;
}
.deezer-widget-player{
    height: 400px;
}