<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">WeatherMood</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Historique</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" placeholder="Type your city for forecast" id="city" ng-model="$ctrl.query">
                </div>
                <button type="button" class="btn btn-default" ng-click="$ctrl.getForecast()">Submit</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <h1>Weather Mood</h1>
    <p class="description">L'application qui adapte votre playlist au temps qu'il fait.</p>
</div>

<div class="container-fluid">
    <div id="meteo">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 ">
                <p id="town">{{$ctrl.forecast.name}}</p>
                <p id="date">{{$ctrl.forecast.weather[0].description}}</p>
            </div>
            <div class="col-sm-3 ">
                <img class="icon" src="/app/assets/img/{{$ctrl.forecast.weather[0].icon}}.png">
            </div>
            <div class="col-sm-3 ">
                <p id="temp">{{$ctrl.forecast.main.temp}}°C</p>
            </div>
        </div>
    </div>


</div>
<div ng-if="{{$ctrl.forecast.weather[0].icon}} == ('01d' || '01n') ">
    <channel-sunny></channel-sunny>
</div>
<div ng-if="">
    <channel></channel>
</div>

<footer>
    WeatherMood by PatatasValdez
</footer>