<!--<div class="container">
  <h1>Weather Mood</h1>
  <p class="description">L'application qui adapte votre playlist au temps qu'il fait.</p>
</div>

<div class="container-fluid">
  <div id="meteo">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 ">
        <p id="date">Lundi 3 mars</p>
        <p id="town">Bordeaux</p>
      </div>
      <div class="col-sm-3 ">
        <img src="http://meteoduquebec.com/images/winterkit/4.png">
      </div>
      <div class="col-sm-3 ">
        <p id="temp">13°C</p>
      </div>
    </div>
  </div>


</div>-->